@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

/* width */
.pretty-scrollbar::-webkit-scrollbar {
  width: 5px;
}

/* Track */
.pretty-scrollbar::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 5px;
}

/* Handle */
.pretty-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
}

/* Handle on hover */
.pretty-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

.scrollable-list {
  height: 20rem;
  overflow-y: auto;

  /* Solo funciona con ciertos buscadores */
  scrollbar-color: rgb(47, 47, 47);
  scrollbar-width: thin;
}
