pytest==6.2.5
urllib3<2
openai==1.9.0
langchain
python-dotenv
google-search-results
tiktoken
faiss-cpu
bs4
html2text
gspread
oauth2client
duckduckgo-search
unittest2
uvicorn
langchain_mistralai
langchain_openai
python-multipart
selenium
sentence_transformers